<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            body{
                color: blue;
            }
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
    <header>
        <h1><a href="{{ path('homepage') }}">Guestbook</a></h1>
        {{ render_esi(path('conference_header')) }}
            <a class="navbar-brand mr-4 pr-2" href="{{ path('homepage') }}">
                &#128217; {{ 'Conference Guestbook'|trans }}
            </a>
        <hr />
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ app.request.locale|locale_name(app.request.locale)|u.title }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
            <a class="dropdown-item" href="{{ path('homepage', {_locale: 'en'}) }}">English</a>
            <a class="dropdown-item" href="{{ path('homepage', {_locale: 'fr'}) }}">Français</a>
        </div>
    </li>
    </header>
        {% block body %}
        
        {% endblock %}
    </body>
</html>